hr.mini {
  background: rgb(255, 123, 0);
  height: 2px;
  width: 4rem;
}

button.button.submit {
  background-color: rgb(255, 123, 0);
}

button.button.submit:hover {
  background-color: rgb(230, 111, 0);
}
