.mate {
  position: absolute;
  right: calc(100% + 0.5em);
}

.subtitle-mod {
  font-size: 1.5rem;
}

.quote:before {
  align-self: flex-start;
  content: "\201C";

  color: rgb(255, 123, 0);
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Georgia, serif;
  font-size: 3em;
  line-height: 1;
  width: 3rem;
}
.quote:after {
  align-self: flex-end;
  content: "\201D";
  text-align: right;

  color: rgb(255, 123, 0);
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Georgia, serif;
  font-size: 3em;
  line-height: 1;
  width: 3rem;
}
