.mate {
  position: absolute;
  right: calc(100% + 0.5em);
}

.subtitle-mod {
  font-size: 1.5rem;
}

.github-link {
  outline: none;
  color: black;
  text-decoration: none;
  box-shadow: 0 1px 0 0 black, inset 0 -0.1em black;
}

.github-link:hover {
  color: black;
}

video {
  box-shadow: 10px 5px 5px #8080807d;
}

.quote:before {
  align-self: flex-start;
  content: "\201C";

  color: rgb(255, 123, 0);
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Georgia, serif;
  font-size: 3em;
  line-height: 1;
  width: 3rem;
}
.quote:after {
  align-self: flex-end;
  content: "\201D";
  text-align: right;

  color: rgb(255, 123, 0);
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Georgia, serif;
  font-size: 2em;
  line-height: 1;
  width: 3rem;
}
