@charset "utf-8";
// If need, change your variables before importing Bulma
// $title-color: #ff0000;
$navbar-item-hover-background-color: white;
$navbar-item-hover-color: #4a4a4a;
$footer-background-color: white;

$progress-value-background-color: #ff7b00bb;
$progress-bar-background-color: #b3b3b336;


@import "~bulma/bulma.sass";
@import "header";
@import "footer";
@import "responsive";
@import "blog-page";
@import "blog-card";
@import "project-card";
