@charset "utf-8";
// If need, change your variables before importing Bulma
$title-color: #ff0000;
$navbar-item-hover-background-color: white;
$navbar-item-hover-color: #4a4a4a;
$footer-background-color: white;

@import "~bulma/bulma.sass";
@import "header";
@import "home";
@import "freelance";
@import "skills";
@import "projects";
@import "contact";
@import "footer";
