.project-img {
  max-height: 100%;
  max-width: 100%;
  box-shadow: 10px 5px 5px #8080807d;
}

.sub {
  position: relative;
  width: 400px;
}

.cascade {
  display: flex;
  top: 0;
}
.cascade .child1 {
  margin-top: 10%;
  height: 262.5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition-property: transform;
  transform-origin: center center;
  transition-duration: 300ms;
  &:hover {
    transform: scale(1.04) translateY(-1rem);
    span {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}
.cascade .child2 {
  margin-top: 20%;
  margin-left: -65%;
  height: 262.5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition-property: transform;
  transform-origin: center center;
  transition-duration: 300ms;
  &:hover {
    transform: scale(1.04) translateY(-1rem);
    span {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}
.cascade .child3 {
  margin-top: 30%;
  margin-left: -65%;
  height: 262.5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition-property: transform;
  transform-origin: center center;
  transition-duration: 300ms;
  z-index: 1;

  &:hover {
    transform: scale(1.04) translateY(-1rem);
    span {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}

.cascade .child4 {
  margin-top: 40%;
  margin-left: -340px;
  height: 262.5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition-property: transform;
  transform-origin: center center;
  transition-duration: 300ms;
  z-index: 1;
  &:hover {
    transform: scale(1.04) translateY(-1rem);
    span {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}

.strapi-link {
  outline: none;
  color: #8e75ff;
  text-decoration: none;
  box-shadow: 0 1px 0 0#8E75FF, inset 0 -0.1em #8e75ff;
  &:hover {
    color: #8e75ff;
  }
}

.hc-link {
  outline: none;
  color: #7a1014;
  text-decoration: none;
  box-shadow: 0 1px 0 0#7A1014, inset 0 -0.1em #7a1014;
  &:hover {
    color: #7a1014;
  }
}

.lemot-link {
  outline: none;
  color: #2a4f7f;
  text-decoration: none;
  box-shadow: 0 1px 0 0#2A4F7F, inset 0 -0.1em #2a4f7f;
  &:hover {
    color: #2a4f7f;
  }
}

.etna-link {
  outline: none;
  color: #a87868;
  text-decoration: none;
  box-shadow: 0 1px 0 0#A87868, inset 0 -0.1em #a87868;
  &:hover {
    color: #a87868;
  }
}

span.tooltip {
  position: absolute;
  color: white;
  left: 95%;
  bottom: 100%;
  opacity: 0;
  margin-bottom: 1em;
  // border-radius: 6px;
  padding: 0.4em;
  background-color: #ff7b00;
  line-height: 1.6;
  text-align: left;
  white-space: nowrap;
  transform: translate(-50%, 1em);
  transition: all 0.15s ease-in-out;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 100%;
  //   left: 50%;
  //   width: 0;
  //   height: 0;
  //   border: 0.5em solid transparent;
  //   border-top-color: #f15a24;
  //   transform: translate(-50%, 0);
  // }
}
